.login_page {
  background: #202020;
  height: 100vh;
}
.login_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
}
.email_inp, .password_inp {
  padding: 10px;
  background: #292929;
  border-radius: 12px;
  color: #fff;
  border: none;
  outline: none;
}
.email_inp::placeholder, .password_inp::placeholder {
  color: #ffffff;
}
